<nav class="nav-container">
  <div class="container flex-between">
    <a
      class="nav-link logo-container"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="./../../../assets/images/logo/logo.png"
    /></a>
    <ul class="link-container flex-center">
      <li>
        <a
          class="nav-link white-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          class="nav-link white-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
