//*********************** theme colors ***********************//

$text-color: #1e1e1e;
$primary-color: #4068b1;
$primary-color-hover:#294c8d;
$secondary-color: #323c46;
$secondary-color-hover: #212931;
$white: #fff;
$bale-white:#f7f7f7;
$orange: #ee972a;
$orange-hover: #dc861d;
$yellow: #fed815;
$light-gray:rgb(226, 226, 226);
$gray:rgb(171, 171, 171);
$gray-hover:rgb(145, 145, 145);

//*********************** fonts ***********************//

$bold-font: "poppins-bold";
$medium-font: "poppins-medium";
$regular-font: "poppins-regular";
